<h1>Listing my_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_comments.each do |my_comment| %>
      <tr>
        <td><%= my_comment.content %></td>
        <td><%= link_to 'Edit', edit_my_thread_my_comment_path(@my_thread,my_comment) %></td>
        <td><%= link_to 'Destroy', my_thread_my_comment_path(@my_thread,my_comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My comment', new_my_thread_my_comment_path(@my_thread) %>
<%= link_to 'Back to thread', my_threads_path %>